body {
    font-family: 'Inter';
    flex-direction: column; 
}

nav {
    height: 50px;
    background-color: black;
    color: white;
    font-style: bold;
    width: 100%;

}
   

h1 {
    padding-left: 170px;
}

.content {
    padding-left: 170px;
    
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 8px solid rgba(0, 110, 255, 0.842);
  }

 .description {
    display: flex;
 }

footer {
    height: 41px;
    background-color: #F2F2F2;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footnav {
    font-size: 14px;
    font-family: 'Inter';
    color: #111115;
    padding-top: 1em;
    padding-left: 170px;
    
}