body {
  font-family: "Inter";
  flex-direction: column;
  height: auto;
}

#logo {
    height: 160px;
    width: 170px;
    float: left;  
}


#mainmenu {
    height: 50px;
    background-color: rgba(237, 104, 66, 0.1);
    color: #E45136;
    width: 100%;
   
}

ul, li {
    list-style: none;
}

#mainmenu li {
    display:block;
	width:120px;
	float:left;
	margin: 14px 40px;

}

a, li {
    font-size: 22px;
    text-decoration: none;
    color: #E45136;
    text-align: center;
    font-weight: bold;
}

.content {
  padding-left: 210px;
  padding-bottom: 41px;
  min-height: 100vh;
  
}

#tierbild {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 8px solid #ED6842;
}

.description {
  display: flex;
}

footer {
  height: 41px;
  background-color: #f2f2f2;
  bottom: 0;
  width: 100%;

}

.footnav {
  font-size: 14px;
  font-family: "Inter";
  color: #111115;
  padding-top: 1em;
  padding-left: 170px;
}
